@import "../../src/css/scss/variable";
.b-wc-cats {
  .b-wc-cats-item {
    text-align: center;
    .img {
      overflow: hidden;
      border-radius: 100%;
      width: 150px;
      height: 150px;
      margin: 0 auto;
      background-color: $main2;
      transition: all 0.4s ease-out;
      border: 1px solid transparent;
      @media #{$md} {
        width: 100px;
        height: 100px;
      }
      img {
        // width: 100%;
        transition: all 0.4s ease-out;
      }
    }
    a {
      display: block;
      text-decoration: none;

      transition: all 0.4s ease-out;
    }
    span {
      display: block;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
      text-transform: uppercase;
    }
    &:hover {
      .img {
        // transform: translate(0, -10px);
        box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid $main;
        img {
          filter: contrast(110%);
          filter: brightness(1.3);
          transform: scale(1.1);
        }
      }
      a {
        color: $main;
      }
    }
  }
}
