@import "../../src/css/scss/variable";

.group{
    position: relative;
    width: 100vw;
    left: -50vw;
    margin-left: 50%;
    display: flex;
    @media #{$sm} {
        // margin-left: 0;
    }
    .group__container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .spacer-log{
        width: 22%;
        @media #{$md} {
            width: 0;
        }
        @media #{$sm} {
            width: 0;
        }
    }
    .group__wrap{
        position: relative;
        background-color: var(--main3);
        width: 68%;
        right: 0;
        // display: flex;
        // justify-content: flex-end;
        // float: inline-end;
        @media #{$md} {
            width: 100%;
        }
        @media #{$sm} {
           width: 100%;
        }
        
        .logos{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // gap: 10px;
            @media #{$sm} {
               flex-wrap: wrap;
            }
            
            .logo{
                padding: 20px;
                display: block;
                align-self: stretch;
                transition: all 0.3s linear;
                width: 16.6%;
                @media #{$sm} {
                    width: 33.33%;
                }
                span, img{
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                    width: 100%;
                    height: auto;
                    color:var(--black)
                }
                img{
                    width: 100px;
                    height: auto;
                }
                a{
                    text-decoration: none;
                    color:var(--black)
                }
                &:hover{
                    background-color: var(--white);
                    box-shadow: 0 0 20px 0 rgba(0,0,0, 0.1);
                }
            }

        }
    }
}
.contrast-high{
    .group .group__wrap .logos .logo span{
        color:var(--white)
    }
    .group .group__wrap .logos .logo{
        &:hover{
            box-shadow: 0 0 20px 0 rgba(0,0,0, 0.2);
            background-color: rgba(var(--white), 0.9);
            span{
                color:var(--white)
            }
        }
    }
}