@import "../../src/css/scss/variable";

.title{
    position: relative;
    
   
    .title__tag{
        // padding-top: 50px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        font-size: 1.8em;
        position: relative;
        display: inline-block;
        &:before {
            content: "";
            position: absolute;
            bottom: 0px;
            width: 50%;
            height: 1px;
            background-color: var(--main2);
        }
    }
}