@import "../../src/css/scss/variable";

.bc-title {
  border-bottom: 1px solid $main2;
  .bc-title__wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
}
