.event-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    @media #{$lg} {
      grid-template-columns: 1fr 1fr;
    }
    @media #{$md} {
        grid-template-columns: 1fr;
      }
    @media #{$sm} {
      grid-template-columns: 1fr;
    }
}
.mw-event{
   
    .anchor-search{
        // background-color: red;
        width: 100%;
        height: 100px;
        display: block;
        position: relative;
        z-index: -1;
        margin-top: -100px;
    }
    .mw-event__wraper{
        
        .mw-event__nav{
            
        }
       
        .mw-event__search{
           
        }
        .mw-event__nav__wrap{
            background-color: var(--main3);
            padding: 50px 20px;
            position: relative;
            @media #{$sm} {
                padding: 0;
            }
            // position: -webkit-sticky;
            // position: sticky;
            // top: 50px;
            &:before{
                content: "";
                position: absolute;
                z-index: -1;
                top: 0px;
                // left: -200%;
                width: 100vw;
                left: -50vw;
                margin-left: 50%;
                height: 100%;
                background-color:var(--main3); 
            }
            &:after{
                content: "";
                position: absolute;
                z-index: -1;
                top: 0px;
                // left: -200%;
                width: 100vw;
                left: -50vw;
                top:-50%;
                margin-left: 50%;
                height: 200%;
                background-color:var(--main3); 
            }
            h3{
                margin-bottom: 10px;
            }
            form{
                margin-bottom: 30px;
                > ul{
                    padding: 0;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap:0px;
                    @media #{$md} {
                        flex-wrap: wrap;
                        gap: 10px;
                    }
                    li{
                        width: calc(25% - 10px);
                        @media #{$md} {
                            width: 100%;
                        }
                        @media #{$sm} {
                            padding: 0;
                            margin: 0;
                        }
                        label{
                            width: 100%;
                        }
                        &:nth-child(6){
                            // flex: auto;
                        }
                    }
               
                    li{
                     
                        ul{
                            padding: 0;
                            margin: 0;
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            gap: 10px;
                            li{
                                display: flex;
                                width: initial;
                                color:var(--black);
                                label{
                                    padding-left: 0px;
                                }
                                
                            }
                        }
                    }
                    .sf_date_field{
                        display: flex;
                        justify-content: space-between;
                        li{
                            width: calc(50% - 5px);
                        }
                    }
                    .sf-field-reset{
                        text-align: right;
                    }
                    .sf-field-submit {
                        width: 60px!important;
                        order: 7;
                        margin-left: 10px;
                        @media #{$sm} {
                            order: 6;
                            width: 100%!important;
                           
                        }
                        input {
                            transition: all .3s linear;
                            cursor: pointer;
                            width: 55px;
                            height: 55px;
                            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAWCAYAAAArdgcFAAAABHNCSVQICAgIfAhkiAAAAZ9JREFUOE+tlIFRwzAMRckEtBMQJoANCBvABJQJgA1ggzIB7QSECWgnADbIBrQThP84mXMcOYEjvvM1taUv6X/JxYGz2ra90PGV9ql2aSYb/Tbaj0VRvHt+6VkRHwgUsCcDHfKvdXmtILshox9wAVcyfNae/SYr2QB8PlTFN7hl/BoB7/V9q12H7GQDPQs7P7QEoIcAbgUBHD7PzOFDv1XOwRKBliOzX8uWoL1VmHjQwSLjcoxLC/AWoR3Lp0nRAV/pkM5gIRL/R5f8ljK6McMH+d174PB2YhfzsawDgDUAOrFe5Ef7dhaZt+FEBp3WHEs/8t3KtZoMXMC07KcBZsE3Mgid4grjVZA0QpYWBAyCusJkwGO/O9GCwD3OGfnQVqNTh3ciZrZ9vSFq5H+ZG2vnmXApIYkAXuqblgxjzR1lrxRka+KhC+22cGhy5yN+uKAHceMAHt25s16A9MmlvRAmCJwDWttFatcJ4A6NvYBQEE8dYlMZLyW6ICzUZQP8aSK9MoYC/Bs8U8FO1c0nAXcC7AU+mwzcAtAMdN1S4PUXtFu9F8UN9eUAAAAASUVORK5CYII=);
                            background-repeat: no-repeat;
                            background-color: var(--main2)!important;
                            border:none!important;
                            background-position: center center;
                            font-size: 0px;
                            @media #{$sm} {
                                width: 100%;
                            }
                        }
                    }
                }
                .sf-field-search{
                    .sf-input-text{
                        border:1px solid var(--main2)!important;
                    }
                }
                .sf-field-taxonomy-class_cat{
                    flex: auto;
                }
                .sf_date_field{
                    width: 100%;
                    li{
                        width: 100%;
                    }
                }
                label{
                    width: 100%;
                    
                }
                input, select{
                    min-width: 100%;
                    background-color: var(--white);
                    border: 1px solid var(--light-black)!important;
                    // padding: 20px;
                    min-height: 25px;
                }
                input::placeholder{
                    color:var(--black)!important;
                }
                
                select{
                    color:var(--black);
                }
                .sf-input-checkbox{
                    min-width: 20px!important;
                    width: 10px;
                    min-height: 10px;
                }
            }

        }
       
            
    }
}
.mw-event__tax{
    .mw-event__nav__wrap{
        &:after{
            top: 0!important;
            height: 150%!important;
        }
    }
}