.btn {
  background-color: $main;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  padding: 5px 15px;
  border-radius: 3px;
  transition: all 0.3s linear;
  white-space: nowrap;
  &:hover {
    background-color: $black;
    color: #fff !important;
  }
}
.btn-revers {
  color: $main;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid $main;
  border-radius: 6px;
  transition: all 0.3s linear;
  white-space: nowrap;
  &:hover {
    background-color: $main2;
    border: 1px solid $main2;
    color: #fff;
  }
}
.btn-small {
  padding: 5px 5px;
  font-size: 0.7em;
}
.btn-big {
  padding: 5px 20px;
  font-size: 1.5em;
}
