.card-post{
    background-color: var(--white);
    transition: all 0.3s linear;
    .entry-title{
        font-size: 1.4em;
        padding: 0 15px;
        a{
        color: var(--black);
        text-decoration: none;
        }
    }
    a{
        display: block;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
            background-color: var(--white);
            transition: all 0.3s linear;
        }
    }
    .entry-content{
        padding: 0 15px 15px 15px;
        p{
            font-size: 0.8em;
            margin-bottom: 0px;
        }
    }
    .meta-pub{
        font-size: 0.8em;
        // justify-content: flex-start;
        padding: 0 15px;
        span{
            color: var(--main);
        }
    }
    &:hover{
        box-shadow: 0 0 20px rgba(0,0,0, 0.1);
        transform: translate(0,-10px);
        .entry-title{
            a{
                color:var(--main2)!important;
            }
        }
        img{
            transform: scale(1.03);
        }
    }

}