.card-class{
    transition: all 0.3s linear;
    .entry-title{
        font-size: 1.4em;
        a{
        color: var(--black);
        text-decoration: none;
        }
    }
    img{
        width: 100%;
        height: auto;
    }
    .entry-title{
        padding: 0 10px;
    }
    .entry-content{
        padding: 0 10px;
        p{
            font-size: 0.8em;
            margin-bottom: 20px;
        }
    }
    &:hover{
        box-shadow: 0 0 20px rgba(0,0,0, 0.1);
        transform: translate(0,-10px);
        .entry-title{
            a{
                color:var(--main2)!important;
            }
        }
    }

}