#header {
  .navbar {
    display: flex;
    align-items: stretch;
    @media #{$sm} {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .navbar__brand {
    flex: auto;
    margin-left: 80px;
    @media #{$lg} {
      margin-left: 0;
    }
    @media #{$sm} {
      flex: initial;
      width: 100%;
      order: 1;
      margin-left: 0;
      display: flex;
      justify-content: center;
      padding: 15px 0;
    }
    @media #{$xs} {
    }
    svg {
      max-width: 100%;
      height: auto;
      padding: 20px 10px;
      @media #{$sm} {
        padding: 10px 0 0 10px;
      }
    }
  }
  .navbar__icons {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    @media #{$sm} {
      order: 3;
      justify-content: flex-start;
      flex: auto;
    }
    @media #{$xs} {
      justify-content: space-between;
      flex: auto;
    }
    @media #{$xx} {
      justify-content: flex-start;
      flex: auto;
    }
    a {
      padding: 10px 15px;
      text-decoration: none;
      text-align: center;
      color: $black;

      @media #{$sm} {
        padding: 5px 10px;
        transform: scale(0.8);
        // padding: 0px;
      }
      @media #{$xs} {
        padding: 0px;
      }
      span {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        @media #{$xs} {
          font-size: 10px;
        }
      }
      svg {
        path {
          transition: all 0.3s;
        }
        // @media #{$sm} {
        //   width: 15px;
        //   height: auto;
        // }
      }

      &:hover {
        color: $main;
        path {
          fill: $main;
        }
      }
    }
    // .klub-sl {
    //   svg {
    //     @media #{$sm} {
    //       width: 50px !important;
    //       height: auto;
    //     }
    //   }
    // }
  }
  .navbar__card {
    // background-color: $black;
    @media #{$sm} {
      order: 4;
    }
    .fkcart-mini-toggler {
      flex-wrap: wrap;
      gap: 0px;
      justify-content: center;
      text-align: center;
      align-self: center;
      padding: 20px 20px;
      background: $black;
      height: 100%;
      @media #{$sm} {
        padding: 10px 0;
      }
      @media #{$xs} {
        padding: 10px 0;
      }
      .fkcart-shortcode-icon-wrap {
        svg {
          path {
            fill: #fff;
          }
        }
      }
      .fkcart-shortcode-price {
        width: 100%;
        color: #fff;
        font-size: 12px;
      }
    }
  }
  .navbar__navigation {
    flex: auto;
    align-self: center;
    @media #{$sm} {
      order: 5;
    }
    .header-nav {
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        li {
          a {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
            padding: 10px;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
              color: $main;
            }
          }
        }
        .current_page_item {
          a {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
            color: $main;
          }
        }
      }
    }
  }
}

.navbar__navigation {
  @media #{$lg} {
    position: absolute;
  }
  .header-nav {
    @media #{$lg} {
      transition: left 0.6s ease-out;
      position: fixed;
      z-index: 99;
      overflow: auto;
      left: -120%;
      top: 0px;
      padding: 50px 20px;
      width: 30%;
      height: 100vh;
      background-color: $black;
      ul {
        display: block !important;
        li {
          a {
            color: #fff;
            display: block;
          }
        }
      }
    }
    @media #{$sm} {
      width: 50%;
    }
  }
}

.js-navbar__navigation.active {
  .header-nav {
    transition: left 0.6s ease-out;
    left: 0;
  }
}
.js-navbar.active {
  left: 0 !important;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0px;
  background-color: #fff;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.129);
  .navbar__brand {
    @media #{$sm} {
      display: none !important;
    }
  }
}
#fkcart-floating-toggler {
  display: none;
}

.navbar__toggler {
  display: none;
  padding: 0 30px;
  min-height: 45.2px;
  align-items: center;
  @media #{$lg} {
    display: flex;
  }
  @media #{$sm} {
    order: 4;
  }
  @media #{$xx} {
    padding: 0 15px;
  }

  .navbar__toggler__btn {
    width: 30px;
    cursor: pointer;
    span {
      transition: all 0.2s linear;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $black;
      margin-bottom: 3px;
      &:nth-child(1) {
        width: 50%;
      }
      &:nth-child(3) {
        width: 75%;
      }
    }
  }
  &:hover {
    .navbar__toggler__btn {
      span {
        background-color: $main;
        width: 100% !important;
      }
    }
  }
}
.navbar__toggler.active {
  .navbar__toggler__btn {
    span {
      width: 100%;
      background-color: $main;
      &:nth-child(2) {
        display: none;
      }

      &:nth-child(1) {
        transform: rotate(45deg) translate(0px, 3px);
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(1px, -4px);
      }
    }
  }
}
