#header {
  margin-bottom: 50px;

  @media #{$sm} {
    margin-bottom: 0;
  }
  .navbar {
    display: flex;
    // align-items: stretch;
    // position: relative;
    // z-index: 9999999999;
    // background-color: #fff;
    @media #{$sm} {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .navbar__brand {
    flex: auto;
    margin-left: 80px;
    @media #{$md} {
      margin-left: 0;
    }
    @media #{$sm} {
      flex: initial;
      width: 100%;
      order: 1;
      margin-left: 0;
      display: flex;
      justify-content: center;
      padding: 15px 0;
    }
    @media #{$xs} {
    }
    svg {
      max-width: 100%;
      height: auto;
      padding: 20px 10px;
      @media #{$sm} {
        padding: 10px 0 0 10px;
      }
    }
  }
  .navbar__icons {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    @media #{$sm} {
      order: 3;
      justify-content: flex-start;
      flex: auto;
    }
    @media #{$xs} {
      // justify-content: space-between;
      flex: auto;
      gap: 10px;
      padding-left: 10px;
    }
    @media #{$xx} {
      justify-content: flex-start;
      flex: auto;
    }
    a {
      padding: 10px 15px;
      text-decoration: none;
      text-align: center;
      color: $black;

      @media #{$sm} {
        padding: 5px 10px;
        transform: scale(0.8);
        // padding: 0px;
      }
      @media #{$xs} {
        padding: 0px;
      }
      span {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        @media #{$xs} {
          font-size: 10px;
          display: none;
        }
      }
      svg {
        path {
          transition: all 0.3s;
        }
        // @media #{$sm} {
        //   width: 15px;
        //   height: auto;
        // }
      }

      &:hover {
        color: $main;
        path {
          fill: $main;
        }
      }
    }
    // .klub-sl {
    //   svg {
    //     @media #{$sm} {
    //       width: 50px !important;
    //       height: auto;
    //     }
    //   }
    // }
  }
  .navbar__card {
    // background-color: $black;
    width: 90px;
    @media #{$sm} {
      order: 4;
    }
    .fkcart-mini-toggler {
      flex-wrap: wrap;
      gap: 0px;
      justify-content: center;
      text-align: center;
      align-self: center;
      padding: 20px 20px;
      background: $black;
      height: 100%;
      @media #{$sm} {
        padding: 10px 0;
      }
      @media #{$xs} {
        padding: 10px 0;
      }
      .fkcart-shortcode-icon-wrap {
        svg {
          path {
            fill: #fff;
          }
        }
      }
      .fkcart-shortcode-price {
        width: 100%;
        color: #fff;
        font-size: 12px;
      }
    }
  }
  .navbar__navigation {
    flex: auto;
    align-self: center;
    @media #{$sm} {
      order: 5;
    }
    .header-nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {
          a {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
            padding: 50px 10px;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
              color: $main;
            }
          }
        }
      }
    }
  }
}
.current-menu-item {
  a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: $main !important;
  }
}
.navbar__navigation {
  @media #{$lg} {
    position: absolute;
  }
  .header-nav {
    @media #{$lg} {
      transition: left 0.6s ease-out;
      position: fixed;
      z-index: 99;
      overflow: auto;
      left: -120%;
      top: 0px;
      padding: 50px 20px;
      width: 30%;
      height: 100vh;
      background-color: $black;
      ul {
        display: block !important;
        li {
          a {
            color: #fff;
            display: block;
          }
        }
      }
    }
    @media #{$sm} {
      width: 50%;
    }
  }
}

.js-navbar__navigation.active {
  .header-nav {
    transition: left 0.6s ease-out;
    left: 0;
  }
}
.js-navbar.active {
  left: 0 !important;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0px;
  background-color: #fff;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.129);
  .navbar__brand {
    @media #{$sm} {
      display: none !important;
    }
  }
}
#fkcart-floating-toggler {
  display: none;
}

.navbar__toggler {
  display: none;
  padding: 0 30px;
  min-height: 45.2px;
  align-items: center;
  @media #{$lg} {
    display: flex;
  }
  @media #{$sm} {
    order: 4;
  }
  @media #{$xx} {
    padding: 0 15px;
  }

  .navbar__toggler__btn {
    width: 30px;
    cursor: pointer;
    span {
      transition: all 0.2s linear;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $black;
      margin-bottom: 3px;
      &:nth-child(1) {
        width: 50%;
      }
      &:nth-child(3) {
        width: 75%;
      }
    }
  }
  &:hover {
    .navbar__toggler__btn {
      span {
        background-color: $main;
        width: 100% !important;
      }
    }
  }
}
.navbar__toggler.active {
  .navbar__toggler__btn {
    span {
      width: 100%;
      background-color: $main;
      &:nth-child(2) {
        display: none;
      }

      &:nth-child(1) {
        transform: rotate(45deg) translate(0px, 3px);
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(1px, -4px);
      }
    }
  }
}

.navbar__wc-nav {
  width: calc(100% - 90px);
  background-color: $light;
  // padding: 15px 0;
  @media #{$md} {
    width: 100%;
  }
  @media #{$sm} {
    // position: fixed;
    // bottom: 0;
    // z-index: 99;
    background-color: $black;
  }
  .navbar__wc-nav__wrap {
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0 15px;
      overflow-y: auto;
      @media #{$lg} {
        justify-content: flex-start;
        padding-left: 90px;
      }
      @media #{$md} {
        justify-content: flex-start;
        padding-left: 0px;
      }

      li {
        white-space: nowrap;
        margin-bottom: 0px;
        a {
          display: block;
          font-weight: 300;
          font-style: normal;
          padding: 15px 10px;
          margin: 0;
          text-decoration: none;
          text-transform: uppercase;
          @media #{$sm} {
            color: #fff;
          }
          &:hover {
            color: $main;
          }
        }
      }
    }
  }
}

.navbar__wc-nav {
  // position: fixed;
  transition: all 0.3s linear;
}
// .navbar__wc-nav.active {
//   top: 0;
// }

.navbar__socialmedia {
  position: fixed;
  z-index: 99;
  right: 24px;
  top: 110px;
  @media #{$sm} {
    display: none;
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.2s linear;
    li {
      transition: all 0.2s linear;
      margin: 0;
      padding: 0;
      // display: block;
      width: 39px;
      height: 39px;
      text-align: center;
      background: #fff;
      border-radius: 100%;

      a {
        // padding: 4px;
        display: block;
        transition: all 0.2s linear;
        svg {
          margin-top: 2px;
          width: 35px;
          height: 35px;
        }
        path {
          transition: all 0.2s linear;
        }
      }
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
        path {
          fill: $main;
        }
      }
    }
  }
}

.post-cat-header {
  width: 100vw;
  margin-left: -50vw;
  left: calc(50% - 0px);
  position: relative;
  padding-left: 90px;
  padding-right: 90px;
  margin-bottom: 40px;
  overflow: hidden;
  @media #{$md} {
    width: 100%;
    left: 0;
    margin-left: 0;
    margin-right: 0px;
    padding-left: 0;
    padding-right: 0;
  }
  @media #{$sm} {
    width: 100vw;
    margin-left: -50vw;
    left: calc(50% - 0px);
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }

  .post-cat-header__wrap {
    display: flex;
    gap: 20px;
    @media #{$sm} {
      flex-wrap: wrap;
    }
    .col {
      width: 50%;
      @media #{$sm} {
        width: 100%;
      }
    }
    .banner {
      position: relative;
      background-color: #f7f7f5;
      margin-bottom: 20px;
      height: 180px;
      overflow: hidden;
      transition: all 0.3s;
    }
    .post {
      position: relative;
      background-color: #f7f7f5;
      margin-bottom: 20px;
      height: 300px;
      overflow: hidden;
      transition: all 0.3s;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        background: rgb(0, 0, 0);
        background: linear-gradient(
          190deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        );
      }
      .post__content {
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px 20px 30px 20px;
        h2 {
          margin-bottom: 10px;
          max-width: 70%;
          a {
            text-decoration: none;
            color: #fff;
          }
        }
        p {
          margin-bottom: 0;
          color: #fff;
        }
      }
      .post__img {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          display: block;
          -o-object-fit: cover;
          object-fit: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &:hover {
        // transform: scale(1.05);
        z-index: 2;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
        .post__content {
          h2 {
            a {
              color: $main;
            }
          }
        }
      }
    }
    .banner {
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
      }
      .banner__content {
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px 20px 30px 20px;
        h3 {
          margin-bottom: 10px;
          max-width: 70%;

          color: #fff;
        }
        p {
          margin-bottom: 10px;
          color: #fff;
        }
        a {
          display: inline-block;
        }
      }
      .banner__img {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          display: block;
          -o-object-fit: cover;
          object-fit: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
