.wlr-product-message {
  color: $main;
  padding: 20px;
  margin-bottom: 20px;
}
.card-product-top-buttons {
  .wlr-product-message {
    display: none !important;
  }
}
.wll-home-container {
  .wll-earn-points-container {
    width: 100% !important;
  }
  .wll-rewards-container {
    display: none !important;
  }
}

.wlr-user-details {
  .wlr-available-points {
    width: 100% !important;
  }
  .wlr-redeemed-points {
    display: none !important;
  }
}
