// Error 404
.error404 {
  .entry-title {
    font-size: 10px !important;
    margin: 20px 0;
    text-align: center;
  }
 
}

#error {
  padding: 0 0 50px 0;
}
article.page{
  header{
    text-align: center;
  }
  .rank-math-breadcrumb > p{
    justify-content: center;
  }
  .entry-content{
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
  }
}