.meta {
  margin-bottom: 20px;
}

body.single {
  .entry-header {
    // max-width: 640px;
    width: 100%;
    margin: 0 auto;
    // margin-bottom: 20px;
    h1 {
      font-size: 2.4em;
    }
    .rank-math-breadcrumb {
      p {
        justify-content: center;
      }
    }
    .meta-pub {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      font-size: 0.8em;
      margin: 0;
      span {
        color: var(--black);
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  .entry-content {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    // text-align: justify;
    // margin-bottom: 50px;
    img {
      max-width: 100%;
      height: auto;
    }
    a {
      color: $main;
    }
  }
}

// bio
#author-bio {
  margin-top: 30px;
  padding: 20px 20px;
  border-top: 1px solid var(--main3);
  border-bottom: 1px solid var(--main3);
  display: flex;
  gap: 10px;
  @media #{$sm} {
    flex-wrap: wrap;
  }

  #author-avatar {
    img {
      // border-radius: 100%;
    }
  }
  #author-details {
    .author-head {
      p.h3 {
        font-size: 21px;
        margin-bottom: 10px;
        a {
          text-decoration: none;
        }
      }
    }
    .author-footer {
      font-size: 13px;
    }
  }
}

.kk-ata {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media #{$sm} {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .kk-ata__wraper {
    span {
      display: block;
      font-size: 12px;
      margin-bottom: 5px;
      color: var(--black);
    }
  }
  .kksr-muted,
  .kksr-legend {
    font-size: 12px;
  }
}
