@import "../../src/css/scss/variable";

.bip-years{
    .bip-years__wraper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap:20px;
        .bip-year{
            transition: all 0.3s linear;
            background-color: var(--main);
            width: calc(25% - 20px);
            text-align: center;
            border-radius:6px;
            @media #{$md} {
                width: calc(50% - 20px);
            }
            &:hover{
                background-color: var(--main2);
            }
            a{
                display: block;
                text-align: center;
                padding: 20px 20px;
                color: var(--white);
                font-weight: bold;
                font-size: 1.2em;
                text-decoration: none;
            }
        }
    }
}