:root {
  --main: #0A326D;
  --main2: #D54D27;
  --main3: #ECF8FF;
  --black: #122239;
  --light-black: #5C5C5D;
  --gray: #B2B9C5;
  --light: #f7f8fb;
  --white: #fff;
  --white-opacity: rgba(255, 255, 255, 0.14);
  --red: red;
}

.contrast-high {
  --main: #ffeb87;
  --main2: #ffeb87;
  --main3: #ffeb87;
  --black: #ffeb87;
  --light-black: #ffeb87;
  --gray: #B2B9C5;
  --light: #f7f8fb;
  --white: #2b2a29;
  --red: #ffeb87;
}

#schedule .schedule__wrap .sch-nav {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}
#schedule .schedule__wrap .sch-nav li span {
  transition: all 0.3s linear;
  display: block;
  font-size: 1em;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid var(--main);
  border-radius: 6px;
  background-color: var(--white);
  color: var(--main);
  cursor: pointer;
}
#schedule .schedule__wrap .sch-nav li span:hover {
  background-color: var(--main2);
  border: 1px solid var(--main2);
  color: var(--white);
}
@media only screen and (max-width: 768px) {
  #schedule .schedule__wrap .sch-nav li span {
    font-size: 0.8em;
    text-decoration: none;
    padding: 5px 10px;
  }
}
#schedule .schedule__wrap .sch-nav li.active span {
  background-color: var(--main);
  color: var(--white);
}
#schedule .schedule__wrap .tabcontent {
  display: none;
  border-top: none;
}
#schedule .schedule__wrap .tabcontent.active {
  display: block;
}

.sch-content {
  margin-bottom: 50px;
}

.kal_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "pon wt sr czw pt sob nd";
}
@media only screen and (max-width: 768px) {
  .kal_wrap {
    display: block;
  }
}

.pon {
  grid-area: pon;
}

.wt {
  grid-area: wt;
}

.sr {
  grid-area: sr;
}

.czw {
  grid-area: czw;
}

.pt {
  grid-area: pt;
}

.sob {
  grid-area: sob;
}

.nd {
  grid-area: nd;
}

@media only screen and (max-width: 768px) {
  .kal-head {
    display: none;
  }
}
.kal-head .tr {
  background-color: var(--main);
}
.kal-head .tr span {
  display: block;
  color: var(--white);
  padding: 10px;
  border: 1px solid var(--white);
  text-align: center;
}

.kal-body .tr-mobile {
  display: none;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-top: 15px;
}
@media only screen and (max-width: 768px) {
  .kal-body .tr-mobile {
    display: block;
    background-color: var(--main);
  }
  .kal-body .tr-mobile span {
    display: block;
    color: var(--white);
    padding: 10px;
    text-align: center;
  }
}
.kal-body .tr {
  padding: 2px;
  border: 1px solid var(--main3);
}
@media only screen and (max-width: 768px) {
  .kal-body .tr {
    border: none;
  }
}
.kal-body .tr .ev {
  transition: all 0.2s linear;
  margin-bottom: 3px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid var(--main3);
  background-color: var(--main3);
}
.kal-body .tr .ev:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
  border: 1px solid var(--main);
}
.kal-body .tr .ev h5 {
  font-size: 1em;
  margin: 0;
  margin-bottom: 5px;
  color: var(--black);
}
.kal-body .tr .ev span {
  display: block;
  margin-bottom: 5px;
  font-size: 0.8em;
  color: var(--main);
}
.kal-body .tr .ev p {
  font-size: 0.7em;
  margin-bottom: 5px;
  padding: 0;
  color: var(--black);
}
.kal-body .tr .ev a {
  font-size: 0.7em;
  display: block;
  margin-bottom: 5px;
  color: var(--main);
}
.kal-body .tr .ev a:hover {
  color: var(--main2);
}

.contrast-high .kal-body .tr .ev {
  border: none;
  background-color: rgba(68, 64, 64, 0.7) !important;
}/*# sourceMappingURL=schedule.css.map */