@import "../../src/css/scss/variable";
.event-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    @media #{$lg} {
        grid-template-columns: 1fr 1fr;
    }
    @media #{$xs} {
        grid-template-columns: 1fr ;
    }
    .entry-title{
        font-size: 1.2em!important;
    }
}