body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 100%;
  line-height: 1.2;
  color: #161514;
}

.entry-header .entry-title {
  font-size: 3.1em;
}

.home-slider .swiper-slide .slide .copy .copy__title {
  font-size: 4em;
  line-height: 1.1;
}

.section-tite {
  font-size: 3.2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: var(--black);
  transition: all 0.3s;
}

h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 22px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 16px;
}

.tag-special {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 1.5;
  color: #5e5a52;
  transition: all 0.3s;
}
@media only screen and (max-width: 768px) {
  p {
    font-size: 14px;
  }
}

ul {
  margin: 0;
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
  font-size: 1em;
  line-height: 1.5;
  color: #5e5a52;
}

b,
strong {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

a {
  color: var(--main);
  transition: all 0.3s;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
a:hover {
  color: var(--main2);
}

span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.entry-header {
  width: 100%;
  padding: 20px 0;
}
@media only screen and (max-width: 768px) {
  .entry-header {
    padding: 30px 0;
  }
}
.entry-header .entry-title {
  font-size: 3.1em;
}
@media only screen and (max-width: 768px) {
  .entry-header .entry-title {
    font-size: 1.9em;
  }
}

.title-page-big {
  font-size: 52px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .title-page-big {
    font-size: 31px;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.aligncenter {
  text-align: center;
}

.wp-block-embed__wrapper iframe {
  max-width: 100%;
  width: 715px;
  height: 400px;
}

.wp-block-columns {
  margin-bottom: 20px;
}

@media only screen and (max-width: 998px) {
  .meeting {
    padding-bottom: 20px;
    gap: 0px;
  }
  .meeting .btn-wraper {
    display: block;
    text-align: left;
  }
  .bg-section-normal {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.section-tite {
  font-size: 3.2em;
}
@media only screen and (max-width: 768px) {
  .section-tite {
    font-size: 1.6em;
  }
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 90px;
  padding-right: 90px;
}
@media only screen and (max-width: 998px) {
  .container {
    padding-left: 15px;
    padding-right: 90px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-narrow {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  .container-narrow {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container-full {
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
}

#go-to-top {
  cursor: pointer;
  position: fixed;
  text-align: center;
  z-index: 22;
  right: 26px;
  bottom: 30px;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  transform: translate(0, 100px);
  transition: all 0.2s linear;
  background-color: #161514;
  border: 2px solid #fff;
}
@media only screen and (max-width: 768px) {
  #go-to-top {
    bottom: 60px;
    right: 15px;
  }
}
#go-to-top svg {
  margin-top: 5px;
}
#go-to-top svg path {
  fill: #fff;
}
#go-to-top:hover {
  background-color: #c2995e;
  transform: translate(0, 100px), scale(1.1);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

#go-to-top.active {
  transform: translate(0, 0);
}

.go-pagination {
  width: 100%;
  padding: 20px 0;
  margin: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.go-pagination a {
  padding: 5px 1px;
  text-decoration: none;
}
.go-pagination a:hover {
  color: #f3ebdf;
}
.go-pagination span.current {
  background-color: #161514;
  color: white;
  padding: 5px 5px;
  border-radius: 3px;
}

.rank-math-breadcrumb p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
}
.rank-math-breadcrumb p span:last-child {
  color: #161514;
  font-size: 1em;
  display: inline-block;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: "----";
  text-align: left;
}

.wc-banner {
  margin-bottom: 20px;
}
.wc-banner img {
  display: block;
}

.faq__wraper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .faq__wraper {
    flex-wrap: wrap;
    gap: 0;
  }
}
.faq__wraper .col {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .faq__wraper .col {
    width: 100%;
  }
}
.faq__wraper .col:nth-child(1) {
  padding-right: 10px;
}
@media only screen and (max-width: 768px) {
  .faq__wraper .col:nth-child(1) {
    padding-right: 0px;
  }
}
.faq__wraper .col:nth-child(2) {
  padding-left: 10px;
}
@media only screen and (max-width: 768px) {
  .faq__wraper .col:nth-child(2) {
    padding-left: 0px;
  }
}

.faq .accordion {
  margin-bottom: 24px;
  background-color: #f7f7f5;
}
.faq .accordion .question {
  font-size: 18px;
  line-height: 26px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 0px;
  min-height: 75px;
  cursor: pointer;
  transition: all 0.3s;
}
@media only screen and (max-width: 768px) {
  .faq .accordion .question {
    font-size: 16px;
    line-height: 26px;
  }
}
.faq .accordion .question span {
  width: calc(100% - 24px);
  padding: 10px 50px 10px 20px;
  position: relative;
}
.faq .accordion .question span:after {
  content: "+";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 15px;
  display: block;
  font-size: 24px !important;
  color: #161514;
}
.faq .accordion .question svg {
  position: absolute;
  right: 15px;
  width: 16px;
  pointer-events: none;
}
.faq .accordion .answer {
  border-radius: 6px;
  height: 0;
  overflow: hidden;
}
.faq .accordion .answer .wrap-video {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.faq .accordion .answer .wrap-video iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.faq .accordion.active {
  background-color: rgb(255, 255, 255);
  border: 2px solid #c2995e;
}
.faq .accordion.active .question svg {
  transform: rotate(180deg);
}
.faq .accordion.active .question span:after {
  content: "-";
}
.faq .accordion.active .answer {
  height: auto;
  padding: 0 24px 24px;
}
.faq ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
@media only screen and (max-width: 1300px) {
  .faq ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

.wp-cat-header {
  background-color: #f7f7f5;
  margin-bottom: 50px;
  margin-top: 50px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .wp-cat-header {
    width: 100vw;
    margin-left: -50vw;
    left: calc(50% - 0px);
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0;
    margin-top: 0px;
  }
}
.wp-cat-header .wc-cat-header__wrap {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 998px) {
  .wp-cat-header .wc-cat-header__wrap {
    flex-wrap: wrap;
  }
}
.wp-cat-header .wc-cat-header__wrap .desc {
  width: 50%;
  padding: 30px 50px;
  align-self: center;
}
@media only screen and (max-width: 998px) {
  .wp-cat-header .wc-cat-header__wrap .desc {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .wp-cat-header .wc-cat-header__wrap .desc {
    padding: 15px;
  }
}
.wp-cat-header .wc-cat-header__wrap .img {
  width: 50%;
  background-size: cover;
  background-position: center;
  align-self: stretch;
  min-height: 400px;
}
@media only screen and (max-width: 998px) {
  .wp-cat-header .wc-cat-header__wrap .img {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .wp-cat-header .wc-cat-header__wrap .img {
    min-height: 200px;
  }
}

.wc-wrap-custome__desc {
  padding: 50px 0;
}
@media only screen and (max-width: 768px) {
  .wc-wrap-custome__desc {
    padding: 30px 0 0 0px;
  }
}

.woocommerce-page .wp-post-image {
  display: block;
  width: auto !important;
  height: 100%;
  box-shadow: none;
  max-height: 500px;
  margin: 0 auto;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  background-color: #c2995e !important;
}

.irs--round .irs-bar {
  background-color: #c2995e !important;
}

.irs--round .irs-handle {
  border: 4px solid #c2995e !important;
}

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
  border-top-color: #c2995e !important;
}

.woof_container {
  padding-bottom: 20px;
}

.se-placeholder {
  background-color: #f7f7f5;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.se-placeholder p {
  margin: 0;
}/*# sourceMappingURL=go-woocommerce.css.map */