.posts-grid {
  margin-bottom: 50px;
}
.posts-grid .posts-grid__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.posts-grid .posts-grid__wrap .col {
  margin-bottom: 20px;
}
.posts-grid .posts-grid__wrap .col:nth-child(1) {
  width: calc(60% - 20px);
}
@media only screen and (max-width: 768px) {
  .posts-grid .posts-grid__wrap .col:nth-child(1) {
    width: 100%;
  }
}
.posts-grid .posts-grid__wrap .col:nth-child(2) {
  width: calc(40% - 20px);
}
@media only screen and (max-width: 768px) {
  .posts-grid .posts-grid__wrap .col:nth-child(2) {
    width: 100%;
  }
}
.posts-grid .posts-grid__wrap.prawo .col {
  margin-bottom: 20px;
}
.posts-grid .posts-grid__wrap.prawo .col:nth-child(1) {
  order: 2;
}
@media only screen and (max-width: 768px) {
  .posts-grid .posts-grid__wrap.prawo .col:nth-child(1) {
    order: 1;
  }
}
.posts-grid .posts-grid__wrap.prawo .col:nth-child(2) {
  order: 1;
}
@media only screen and (max-width: 768px) {
  .posts-grid .posts-grid__wrap.prawo .col:nth-child(2) {
    order: 2;
  }
}
.posts-grid .posts-grid__wrap.prawo .col:nth-child(2) .post-vertical {
  text-align: right;
  justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  .posts-grid .posts-grid__wrap.prawo .col:nth-child(2) .post-vertical {
    text-align: left;
    justify-content: flex-start;
  }
}
.posts-grid .posts-grid__wrap.prawo .col:nth-child(2) .post-vertical .post__img {
  order: 2;
}
@media only screen and (max-width: 768px) {
  .posts-grid .posts-grid__wrap.prawo .col:nth-child(2) .post-vertical .post__img {
    order: 1;
  }
}
.posts-grid .posts-grid__wrap.prawo .col:nth-child(2) .post-vertical .post__content {
  order: 1;
}
@media only screen and (max-width: 768px) {
  .posts-grid .posts-grid__wrap.prawo .col:nth-child(2) .post-vertical .post__content {
    order: 2;
  }
}
.posts-grid .posts-grid__wrap--style-one {
  align-items: stretch;
}
.posts-grid .posts-grid__wrap--style-one .col {
  width: calc(25% - 20px) !important;
}
@media only screen and (max-width: 998px) {
  .posts-grid .posts-grid__wrap--style-one .col {
    width: calc(50% - 20px) !important;
  }
}
@media only screen and (max-width: 768px) {
  .posts-grid .posts-grid__wrap--style-one .col {
    width: 100% !important;
  }
}
.posts-grid .posts-grid__wrap--style-one .col .post {
  height: 100%;
}
.posts-grid .posts-grid__wrap .post {
  transition: all 0.4s ease-out;
  border: 1px solid transparent;
}
.posts-grid .posts-grid__wrap .post .post__img a {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
.posts-grid .posts-grid__wrap .post .post__img a img {
  display: block;
  transition: all 0.4s ease-out;
  width: 100%;
  height: auto;
}
.posts-grid .posts-grid__wrap .post .entry-term {
  margin-bottom: 10px;
}
.posts-grid .posts-grid__wrap .post .entry-term span {
  display: block;
  font-size: 14px;
  color: #5e5a52;
}
.posts-grid .posts-grid__wrap .post .post__content {
  padding: 0 15px;
}
.posts-grid .posts-grid__wrap .post .post__content h2 a {
  text-decoration: none !important;
  transition: all 0.4s ease-out;
}
.posts-grid .posts-grid__wrap .post .post__content p {
  font-size: 14px;
}
.posts-grid .posts-grid__wrap .post:hover {
  transform: translate(0, -10px);
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #c2995e;
}
.posts-grid .posts-grid__wrap .post:hover img {
  filter: contrast(110%);
  filter: brightness(1.3);
  transform: scale(1.1);
}
.posts-grid .posts-grid__wrap .post-vertical {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  transition: all 0.4s ease-out;
  border: 1px solid rgba(0, 0, 0, 0);
}
.posts-grid .posts-grid__wrap .post-vertical .post__img a {
  display: block;
  overflow: hidden;
}
.posts-grid .posts-grid__wrap .post-vertical .post__img a img {
  display: block;
  transition: all 0.4s ease-out;
  width: 100px;
  height: 100px;
}
.posts-grid .posts-grid__wrap .post-vertical .entry-term {
  margin-bottom: 10px;
}
.posts-grid .posts-grid__wrap .post-vertical .entry-term span {
  display: block;
  font-size: 14px;
  color: #5e5a52;
}
.posts-grid .posts-grid__wrap .post-vertical .post__content h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
.posts-grid .posts-grid__wrap .post-vertical .post__content h2 a {
  text-decoration: none !important;
  transition: all 0.4s ease-out;
}
.posts-grid .posts-grid__wrap .post-vertical:hover {
  transform: translate(0, -5px);
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #c2995e;
}
.posts-grid .posts-grid__wrap .post-vertical:hover img {
  filter: contrast(110%);
  filter: brightness(1.2);
  transform: scale(1.1);
}/*# sourceMappingURL=posts-grid.css.map */