.home-slider {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
}
@media only screen and (max-width: 998px) {
  .home-slider {
    position: relative;
    width: 100vw;
    left: 0;
    margin-left: -15px;
  }
}
.home-slider .swiper-slide {
  max-height: 70vh;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-slide {
    min-height: initial;
  }
}
.home-slider .swiper-slide .slide {
  position: relative;
}
.home-slider .swiper-slide .slide img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-slide .slide img {
    min-height: 500px;
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-slide .slide .slide-img-md {
    display: none;
  }
}
.home-slider .swiper-slide .slide .slide-img-sm {
  display: none;
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-slide .slide .slide-img-sm {
    display: block;
  }
}
.home-slider .swiper-slide .slide .slide__content {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(90px, -50%);
  max-width: 60%;
  padding: 0 15px;
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-slide .slide .slide__content {
    width: 100%;
    min-width: 100%;
    text-align: center;
    position: absolute;
    transform: translate(0, 50px);
    top: 0;
  }
}
.home-slider .swiper-slide .slide .slide__content .slider__content_title {
  font-size: 5vw;
  margin-bottom: 10px;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-slide .slide .slide__content .slider__content_title {
    font-size: 41px;
  }
}
.home-slider .swiper-slide .slide .slide__content p {
  font-size: 1.4vw;
  color: #fff;
  margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-slide .slide .slide__content p {
    font-size: 18px;
  }
}
.home-slider .swiper-slide .slide .slide__content a {
  font-size: 21px;
  padding: 10px 25px;
  background-color: #161514;
  color: #fff;
  border: #161514;
}
.home-slider .swiper-slide .slide .slide__content a:hover {
  background-color: #c2995e;
}
.home-slider .swiper-pagination {
  right: 30px !important;
  left: initial !important;
  transform: initial !important;
  width: initial;
}
.home-slider .swiper-pagination span {
  width: 16px;
  height: 16px;
  opacity: 0.6;
  background-color: var(--white);
}
.home-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--main2);
  opacity: 1;
}
.home-slider .swiper-pagination {
  right: 30px !important;
  padding: 25px 50px;
  left: initial !important;
  width: initial !important;
}
@media only screen and (max-width: 768px) {
  .home-slider .swiper-pagination {
    bottom: 10px !important;
    width: initial !important;
    padding: 0px;
    right: initial !important;
    left: 10px !important;
  }
}
.home-slider .swiper-pagination .swiper-pagination-bullet {
  background-color: #161514 !important;
  width: 14px !important;
  height: 14px !important;
}
.home-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #161514 !important;
}

#header {
  margin-bottom: 0 !important;
}

.autoplay-progress {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #161514;
}
@media only screen and (max-width: 768px) {
  .autoplay-progress {
    bottom: 10px;
    right: 10px;
  }
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #161514;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}/*# sourceMappingURL=slider.css.map */